.flex-container {
  display: flex;
  flex-direction: row; /*display items as vertically stacked*/
  justify-content:flex-end;
}


.flex-item {
  font-size: 18pt;
  border: 1px solid red;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

ul {
  list-style-type: none;
}

.bord {
  border: 1px solid;
}
