.flex-container{
  display:flex;
  margin: 10px auto;
  width:80%;
  flex-direction: row;
  border: 1px solid black;
}

.flex-start{
  justify-content: space-around;
}

.flex-item{
  font-size:18pt;
  border: 1px solid red;
  height:50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}


ul{
  list-style-type: none;
}

.bord{
  border: 1px solid;

}